body {
   font-size: 20px;
   min-width: 800px;
   max-width: 1000px;
   min-height: 1000px;
   margin: 0 auto;
  background-image: linear-gradient(top, rgb(172, 172, 255), rgb(255, 255, 255))
}
h1{
  font-size: 28px;
  text-align: center;
}
h2{
  visibility: hidden;
  text-align: center;
  font-size: 40px;
}
.open{
  visibility: visible;
}
th{
  height: 30px;
  margin-bottom: 15px;
  
}
table {
  display: inline-block;
  margin-left: 30px;
}

td {
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  min-width: 30px;
  min-height: 30px;
  border: 1px solid rgb(77, 69, 69);
}
 .water {
  color:  rgb(206, 206, 206);
  background-color: rgb(114, 114, 114);
  border: 1px solid rgb(173, 172, 172);
  user-select: none;
}
.cpu_water {
  color:  rgb(156, 156, 154);
  background-color: rgb(156, 156, 154);
  border: 1px solid rgb(199, 199, 199);
  user-select: none;
}
